* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #0020f4;
  display: flex;
  justify-content: space-between;
  height: 300px;
  position: absolute;
  z-index: -1;
  left: 0px;
  right: 0px;
  top: 0px;
}

header img {
  margin-left: 240px;
  width: 115px;
  height: 65px;
  margin-top: 40px;
  margin-bottom: 40px;
}

ul {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}

ul li {
  list-style: none;
  margin-right: 100px;
}

ul li a {
  text-decoration: none;
  color: white;
}

ul li a:hover {
  font-size: large;
}

.cards_container {
  max-width: 1440px;
  width: 83%;
  margin: auto;
}

.contact_text {
  background-color: #ffffff;
  color: #000;
  font-weight: 600;
  padding: 6px 18px;
  border-radius: 20px;
  cursor: pointer;
}

.contact_text:hover {
  padding: 5px 16px;
}

.cards {
  margin: auto;
  width: 80%;
  margin-top: 200px;
}

.first_image {
  max-width: 1195px;
  width: 100%;
  border-radius: 15px;
}

.content h2 {
  font-family: "Helvetica Neue", sans-serif;
  margin-bottom: 60px;
  margin-top: 30px;
}

.content_images {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.paragraphs {
  margin: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.first_paragraph {
  font-family: "Helvetica Neue", sans-serif;
  margin-top: 60px;
}

.second_paragraph {
  font-family: "Helvetica Neue", sans-serif;
}

.third_paragraph {
  font-family: "Helvetica Neue", sans-serif;
}

.additional {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: white;
  background-color: #0a22f4;
  border-radius: 28px;
  padding: 18px 77px;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 50px;
}

.additional:hover {
  padding: 20px 80px;
}

.contact {
  color: white;
}

.contact p {
  margin-top: 50px;
  max-width: 60ch;
  font-family: "BPG LE Studio 04 Caps", sans-serif;
}

.contacts {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 24px;
}

.contact_map {
  margin-top: 58px;
}

.contact_phone {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  font-family: "Helvetica Neue", sans-serif;
}

.phone_icon {
  padding: 6px;
  width: 45px;
  height: 45px;
  border-radius: 20px;
  background: #fff;
  display: grid;
  place-items: center;
  color: #0b2fff;
}

.mail_icon {
  padding: 6px;
  width: 45px;
  height: 45px;
  border-radius: 20px;
  background: #fff;
  display: grid;
  place-items: center;
  color: #0b2fff;
}

.contact_mail {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  font-family: "Helvetica Neue", sans-serif;
}

footer {
  margin-top: 40px;
  background-color: #0a22f4;
  padding: 15px 30px;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  padding-top: 200px;
  padding-bottom: 40px;
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

.input input {
  display: block;
  width: 100%;
  background: transparent;
  outline: none;
  color: white;
  margin-top: 20px;
  border: none;
  border-bottom: 1px solid #ffffff;
}

.input label {
  display: block;
  width: 100%;
  color: white;
}

.input textarea {
  width: 100%;
  display: block;
  background: transparent;
  color: white;
  margin-top: 20px;
  height: 100px;
  border: none;
  border-bottom: 1px solid #ffffff;
}

.input_section {
  max-width: 460px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contact {
  max-width: 460px;
  width: 100%;
}

.input_section button {
  padding: 10px 18px;
  border-radius: 28px;
  width: 151px;
  height: 55px;
  align-self: flex-end;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.input_section button:hover {
  font-size: large;
  border-bottom: 3px black solid;
}

.credits {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.credit_container {
  margin-right: 150px;
}

.credit_container .smart {
  width: 121px;
  height: 35px;
  margin-left: 30px;
}

.burger {
  width: 60px;
  height: 60px;
  margin: auto;
  display: none;
}

@media (max-width: 768px) {
}
